.navbar {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    background-color: #28a745 !important;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
  }
  
  .nav-link {
    color: white !important;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ddd !important;
  }
  
  .nav-tabs .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
  
  .dropdown-menu {
    background-color: #28a745;
    border: none;
  }
  
  .dropdown-item {
    color: white !important;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #218838;
    color: white !important;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .btn-outline-light {
    color: white;
    border-color: white;
  }
  
  .btn-outline-light:hover {
    color: #28a745;
    background-color: white;
    border-color: white;
  }
  
  .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  
  .navbar-nav .dropdown-menu {
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .navbar-nav .dropdown-menu .dropdown-item {
    border-radius: 0.5rem;
    margin: 0.2rem 0;
  }
  
  .navbar-nav .nav-link.active {
    background-color: #218838 !important;
    border-radius: 0.5rem;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  